.card {
    width: 33%;
    min-width: 340px;
    margin: 1%;
    margin-right: 2em;
    height: 300px;
    text-align: center;
    background: white;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba;
}

.card-body{
    padding: 20px;
}

.card-title{
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace
}

.card-id{
    letter-spacing: 0.4em;
    font-size: 1.5em;
}